streamlit
langchain-core
langchain-google-genai
google-generativeai
langgraph
pypdf
pydantic
faiss-cpu
sentence-transformers
langchain-community
langchain-huggingface
python-dotenv
fastapi
uvicorn
ragas
pytest
